<!DOCTYPE html>
{% extends 'Menubar.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'MOBILEKART-CART PAGE/css/style.css' %}">
    <title>shopping cart</title>
</head>
<body class="bg-light">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-10 col-11 mx-auto">
    <div class="row mt-5 gx-3">
    <!-- left side div -->
    <div class="col-md-12 col-lg-8 col-11 mx-auto main_cart mb-lg-0 mb-5 shadow">
    <div class="card p-4">
    <h2 class="py-4 font-weight-bold">My Cart ({{itc}})</h2>
    <div class="row">
    <!-- cart images div -->
        {% for i in ci %}
    <div class="col-md-5 col-11 mx-auto bg-light d-flex justify-content-center align-items-center shadow product_img">
        <a href="{{i.prodt.get_url}}"><img style="height:160px; object-fit:cover;" src="{{i.prodt.model_img.url}}" class="img-fluid" alt="{{i.prodt.name}}" /></a>
    </div>
        <!-- cart product details -->
    <div class="col-md-7 col-11 mx-auto px-4 mt-2">
    <div class="row">
    <!-- product name  -->
    <div class="col-6 card-title">
    <h1 class="mb-4 product_name">{{i.prodt.name}}</h1>
        Quantity : {{i.quan}}<br>
    <p class="mb-2">RAM : {{i.prodt.model_RAM}}</p>
    <p class="mb-2">product id : {{i.prodt.id}}</p>
    <p class="mb-2">ROM : {{i.prodt.model_ROM}}</p>
    <p class="mb-2">COLOR: {{i.prodt.color}}</p>
    </div>
    <!-- quantity inc dec -->

    </div>
    <!-- //remover move and price -->
    <div class="row">
    <div class="col-8 d-flex justify-content-between remove_wish">
        <a style="text-decoration:none" href="{% url 'remove' i.prodt.id %}"><p><i class="fas fa-trash-alt"></i> Remove</p></a>
    <div>
        <p><a href="{% url 'addcart' i.prodt.id %}"><i class="fa fa-plus" style="font-size:14px"></i></a> &nbsp;&nbsp;{{i.quan}}&nbsp;&nbsp; <a href="{% url 'cart_decrement' i.prodt.id %}"><i class="fa fa-minus" style= "font-size:14px"></i></a></p>
    </div>
    <!-- <p><i class="fas fa-heart"></i>MOVE TO WISH LIST </p> -->
    </div>
    <div class="col-4 d-flex justify-content-end price_money">
    <h3>$ <span>{{i.total}}</span></h3>
    </div>
    </div>
    </div>
        {% endfor %}
    </div>

    </div>
    <hr/>
    <!-- 2nd cart product -->
    </div>
    <!-- right side div -->
    <div class="col-md-12 col-lg-4 col-11 mx-auto mt-lg-0 mt-md-5">
    <div class="right_side p-3 shadow bg-white">
    <h2 class="product_name mb-5">The Total Amount Of</h2>
    <div class="price_indiv d-flex justify-content-between">
    <p>Product amount</p>
    <p>$<span id="product_total_amt">{{t}}</span></p>
    </div>
    <div class="price_indiv d-flex justify-content-between">
    <p>Delivery Charges</p>
    <p>$<span id="shipping_charge">50.0</span></p>
    </div>
    <hr />
    <div class="total-amt d-flex justify-content-between font-weight-bold">
    <p>The total amount of (including charges)</p>
    <p>$<span id="total_cart_amt">{{total}}</span></p>
    </div>
    <a href="{% url 'address_page' %}"><button style="background-color:#fb641b;border:none;" class="btn btn-primary text-uppercase">Place order</button></a>
    </div>
    <!-- discount code part -->
    <div class="discount_code mt-3 shadow">
    <div class="card">
    <div class="card-body">
    <a class="d-flex justify-content-between" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Add a discount code (optional)
    <span><i class="fas fa-chevron-down pt-1"></i></span>
    </a>
    <div class="collapse" id="collapseExample">
    <div class="mt-3">
    <input type="text" name="" id="discount_code1" class="form-control font-weight-bold" placeholder="Enter the discount code">
    <small id="error_trw" class="text-dark mt-3">code is thapa</small>
    </div>
    <button class="btn btn-primary btn-sm mt-3" onclick="discount_code()">Apply</button>
    </div>
    </div>
    </div>
    </div>

    <!-- discount code ends -->
    <div class="mt-3 shadow p-3 bg-white">
    <div class="pt-4">
    <h5 class="mb-4">Expected delivery date</h5>
    <p>July 27th 2020 - July 29th 2020</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

    </body>
</html>
{% endblock %}
