<!DOCTYPE html>
{% extends 'Menubar.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind Register Template</title>
    <meta name="author" content="David Grzyb">
    <meta name="description" content="">

    <!-- Tailwind -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

        .font-family-karla {
            font-family: karla;
        }
    </style>
</head>
<body style="background-color:#f1f3f6;" class="font-family-karla h-screen">

    <div class="container">

        <!-- Register Section -->
        <div class="w-full flex flex-col">
            <br>
            <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                <p class="text-center text-3xl">DELIVERY ADDRESS</p>
                <form action="success" method="POST">
                    {% csrf_token %}

                  <div class="row">
                <div class="col">
                  <label></label>

                  <input type="text" class="form-control" placeholder="First name" required>
                </div>
                <div class="col">
                  <label></label>

                  <input type="text" class="form-control" placeholder="10-Digit mobile number" required>
                </div>
              </div>
                    <div class="form-group">
                      <label for="inputAddress"></label>
                      <input type="text" class="form-control" id="inputAddress" placeholder="Address (Area and Street)" required>
                    </div>

                    <div class="row">
                  <div class="col">
                    <label></label>

                    <input type="text" class="form-control" placeholder="City" required>
                  </div>
                  <div class="col">
                    <label></label>

                    <input type="text" class="form-control" placeholder="State" required>
                  </div>
                  <div class="col">
                    <label></label>

                    <input type="text" class="form-control" placeholder="Pincode" required>
                  </div>
                </div>
                <div class="row">
              <div class="col">
                <label></label>

                <input type="text" class="form-control" placeholder="Landmark" required>
              </div>
              <div class="col">
                <label></label>
                <input type="text" class="form-control" placeholder="Anothor phone number " required>
              </div>
            </div>
            <br><br>
<!--                    Razorpay-->
                    <script src="https://checkout.razorpay.com/v1/checkout.js"
                            data-key="rzp_test_tLsuerhwpepX4n"
                            data-amount="50000"
                            data-currency="INR"
                            data-order_id="{{payment.id}}"
                            data-buttontext="Pay with Razorpay"
                            data-name="Professional Cipher"
                            data-description="Django and Data"
                            data-image="https://example.com/your_logo.jpg"
                            data-prefill.name="Nijith"
                            data-prefill.email="nijithanil501@gmail.com"
                            data-theme.color="#F37254" >
                    </script>
                  </form>
                <br>
<!--                cash on delivery-->
                    <a href="/cart/success"> <button style="background:green;color:white" ><h6>CASH ON DEVIVERY</h6></button><br><br></a>
            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}

