<!Doctype html>
{% load static %}
<html lang="en">

<head>
    <title>SAMSUNG Galaxy F12 (64GB Storage,4GB RAM)</title>
    <!-- link a logo to title of the page-->
    <link rel="icon" href="flipkart-logo.png">
    <!-- meta means data about data -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- link tag used to link a style sheet-->
    <link rel="stylesheet" href="styles.css">

        <!--    menubar-->
    <link href="{% static 'MOBILEKART-MENUBAR/style/stylesheet.css' %}" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    <link href="{% static 'MOBILEKART-PRODUCT_PAGE/style.css' %}" rel="stylesheet"/>
<!--    <style>-->
<!--        .thumbnail {-->
<!--        position: fixed;-->
<!--        margin-left :150px;}-->
<!--    </style>-->
</head>

<body>
<!----------------------    Menubar    -------------->

 <header class="navbar-fixed-top">
        <div class="header-left">
            <a href="/"><img  src="{% static 'MOBILEKART-MENUBAR/Images/Mobilekart_LOGO.png' %} " width="105px" height="35px"/></a>
<!--    <p><a href="#">Explore <span>Plus<img src="{% static 'MOBILEKART-MENUBAR/Images/plus.png' %}" width="10px" height="10px"/></span></a></p>-->
        </div>
        <div class="header-center">
            <input class="header-center-input" type="text" placeholder="search for your mobile brands" title="search for your brands"/>
            <i class="fa fa-search"></i>
        </div>
        <div class="header-right">
            <a href="/" class="f1">Home</a>
            <a href="#" class="active">Login</a>
            <a href="#" class="f1">more<i class="fa fa-chevron-down"></i></a>
            <a href="#" class="f2"><i class="fa fa-shopping-cart"></i>cart</i></a>
        </div>
    </header>
    <section style="margin-top:90px;">
    </section>

    <!-- header description -->

    <section id="sec" >
        <div class="container-fluid">
            <div class="row">
                <!-- product picture -->
                <div class="col-sm-5">
                    <div class="thumbnail">
                        <img src="https://m.media-amazon.com/images/I/419B1alPH9L.jpg"
                            class="img-responsive" alt="iphonex">
                        <div class="caption">
                            <div class="row buttons" style="margin-right:30px;">

                                <button  class="btn col-sm-4 col-sm-offset-2 btn-lg "
                                    style="background-color:#ff9f00; color:#fff; font-size:1em;"><Span
                                        class="glyphicon glyphicon-shopping-cart"></Span>&nbsp;ADD TO CART</button>
                                <button class="btn col-sm-4 col-sm-offset-1 btn-lg"
                                    style="background-color:#fb641b; color:#fff; font-size:1em;"><Span
                                        class="glyphicon glyphicon-shopping-cart"></Span>BUY NOW</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- product Description -->
                <div class="col-sm-7 desc">
                    <div>
                        <h3><b>SAMSUNG Galaxy F12 (Sky Blue, 64 GB) (4 GB RAM)</b></h3>
                        <div class="row">
                            <div class="col-sm-2">
<!--                                <span class="label label-success">4.2 <span-->
<!--                                        class="glyphicon glyphicon-star"></span></span>-->
                            </div>
                            <!-- <div class="col-sm-4">
                                <Strong>29,140 Ratings & 2,487 Reviews</Strong>
                            </div> -->
                            <!-- <div class="col-sm-3">
                                <img src="https://www.pngkit.com/png/detail/693-6931678_quality-assured.png" style="width:60px;height:25px;">
                            </div> -->
                        </div>
                        <div>
                            <h5 style="color:green;">Extra Rs 2000 offer</h5>
                            <h3>Rs 10,999 <del>Rs 12,999</del>
                                <strong style="color:green;"> 15 % offer</strong>
                            </h3>
                            <!-- <h4><b>Available offers</b></h4> -->
                        </div>
                        <!-- <div>
                            <h5><span class="glyphicon glyphicon-tag"> </span><strong> Bank Offer</strong> 5% Unlimited
                                Cashback on Flipkart Axis Bank Credit Card <a href="">T&C</a></h5>

                            <h5><span class="glyphicon glyphicon-tag"> </span><strong> Bank Offer</strong>Flat ₹100 off
                                on first Flipkart Pay Later order of ₹500 and above <a href="">T&C</a></h5>
                            <h5><span class="glyphicon glyphicon-tag"> </span><strong> Special Price</strong>Extra ₹2000
                                off(price inclusive of discount)<a href="">T&C</a></h5>
                            <h5><span class="glyphicon glyphicon-tag"> </span>Get a Google Nest Hub (Chalk) at just
                                ₹5,999 on purchase of select TVs, laptops, ACs and mobile<a href="">T&C</a></h5>
                            <a href="#">View 2 more offers</a>

                        </div> -->
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <a class="btn btn-default btn-block"><img src="https://upload.wikimedia.org/wikipedia/commons/6/6e/Logo_samsung_5.jpg" style="width:60px;height:30px;"></a>
                            </div>
                            <div class="col-sm-9">

                                <h5>1 Year Warranty Provided by the Manufacturer from Date of Purchase <a href="">Know
                                        More</a></h5>
                            </div>
                        </div>
                        <br>
                        <div class="row">

                            <!-- <div class="col-sm-6">
                                <strong>Color</strong>
                                <br><br>
                                <button class="btn btn-default" style="width:50px;border:1px dashed #337ab7;"><img
                                        src="https://www.luluhypermarket.com/medias/1366558-01.jpg-300Wx300H?context=bWFzdGVyfGltYWdlc3w5NzczfGltYWdlL2pwZWd8aW1hZ2VzL2g0Zi9oODgvOTA3NDE5ODg3MjA5NC5qcGd8ZjA3ZjRjMTYyNGQ2MTgxMDM2YTRkYTE3ZTNkZTY1N2Q5N2Q4OTYyZTc0NGFmNzcyNTQ3YWJjYzVmYjMzYzk5OQ"
                                        class="img-responsive" alt=""></button>
                                <button class="btn btn-default" style="width:50px;"><img
                                        src="https://www.nicepng.com/png/detail/207-2070770_iphone-10-png-apple-iphone-x-space-grey.png"
                                        class="img-responsive" alt=""></button>
                            </div> -->

                            <!-- <div class="col-sm-6">
                                <strong>Storage</strong>
                                <br>
                                <br>
                                <button class="btn btn-default"
                                    style="color:#337ab7;border:1px dashed #337ab7;">64GB</button>
                                <button class="btn btn-default">128GB</button>
                            </div> -->
                            <div>
                                <!-- <strong class="col-sm-3">Highlights</strong> -->
                                <ul class="col-sm-6">
                                    <br>
                                    <li>4 GB RAM | 64 GB ROM | Expandable Upto 512 GB</li>
                                    <li>16.55 cm (6.515 inch) HD+ Display</li>
                                    <li>48MP + 5MP + 2MP + 2MP | 8MP Front Camera</li>
                                    <li>6000 mAh Lithium-ion Battery</li>
                                </ul>
                            </div>
                        </div>
                        <br>
                        <div class="container col-xs-12" style="margin-top:50px;">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                        <h3>Product Description</h3>
                                        <p>
                                            The Samsung Galaxy F12 features a stylish design and innovative features so
                                            that you can enjoy using the mobile phone for all that you need. Thanks to
                                            its 6000 mAh battery, you will have a blast using your phone for a long time
                                            while you stream content and much more. It provides surround sound with
                                            Dolby Atmos so that you can delve into a world of rich music. And, it’s
                                            equipped with features that ensure the protection of your mobile phone.</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <img src="https://sm.mashable.com/mashable_in/photo/default/realme5pro7_8aqf.jpg" alt="camera" class="img-responsive">
                                        </div>
                                        <div class="col-sm-8">
                                            <h3>48 MP Quad Camera</h3>
                                            <p>This mobile features a 48 MP Quad Camera that helps capture rich colours
                                                along with sharp details so that every shot you take is spectacular.</p>
                                        </div>

                                    </div>

                                </div>
                                <hr>
                                <div class="panel-body">
                                    <div class="col-sm-12">

                                        <div class="col-sm-8">
                                            <h3>HD+ Infinity-V Display</h3>
                                            <p>You can enjoy smooth viewing on the HD+ Infinity-V Display of the mobile
                                                phone with its 90 Hz refresh rate.</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <!-- <img src="HD.jpe" alt="video quality" class="img-responsive"> -->
                                        </div>

                                    </div>

                                </div>
                                <div class="panel-footer">
                                    <h4><a href="#" style="text-decoration: none;">View all features</a></h4>
                                </div>

                            </div>
                            <!-- specifications-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3>specifications</h3>
                                </div>
                                <div class="panel-body">
                                    <h4>General</h4>
                                    <table class="table table-default">
                                        <tbody>
                                            <tr>
                                                <td class="col-sm-4">In The Box</td>
                                                <td class="col-sm-8">Handset, Data Cable and Travel Adaptor, Ejection
                                                    Pin, Manual</td>
                                            </tr>
                                            <tr>
                                                <td class="col-sm-4">Model Number
                                                </td>
                                                <td class="col-sm-8">SM-F127GLBGINS</td>
                                            </tr>
                                            <tr>
                                                <td class="col-sm-4">Model Name
                                                </td>
                                                <td class="col-sm-8">Galaxy F12</td>
                                            </tr>
                                            <tr>
                                                <td class="col-sm-4">Color
                                                </td>
                                                <td class="col-sm-8">
                                                    Sky Blue</td>
                                            </tr>
                                            <tr>
                                                <td class="col-sm-4">Browse Type
                                                </td>
                                                <td class="col-sm-8">Smartphones</td>
                                            </tr>
                                            <tr>
                                                <td class="col-sm-4">SIM Type
                                                </td>
                                                <td class="col-sm-8">Dual Sim</td>
                                            </tr>
                                            <tr>
                                                <td class="col-sm-4">Hybrid Sim Slot
                                                </td>
                                                <td class="col-sm-8">No</td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                                <div class="panel-footer">
                                    <h3><a href="https://www.realme.com/in/realme-5-pro/specs">Read more</a></h3>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->
</body>

</html>
